body {
    background-color: #0c0c0C;
    color: #fefefe;
    font-size: 32px;
    font-weight: 600;
    font-family: sans-serif;

    margin: 0;
    padding: 0;

    width: 100vw;
    height: 100vh;
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    
    filter: opacity(.05);
    background: -moz-linear-gradient(135deg, rgba(230,0,0,1) 0%, rgba(255,142,0,1) 20%, rgba(255,239,0,1) 40%, rgba(0,130,27,1) 60%, rgba(0,75,255,1) 80%, rgba(120,0,137,1) 100%);
    background: -webkit-linear-gradient(135deg, rgba(230,0,0,1) 0%, rgba(255,142,0,1) 20%, rgba(255,239,0,1) 40%, rgba(0,130,27,1) 60%, rgba(0,75,255,1) 80%, rgba(120,0,137,1) 100%);
    background: linear-gradient(135deg, rgba(230,0,0,1) 0%, rgba(255,142,0,1) 20%, rgba(255,239,0,1) 40%, rgba(0,130,27,1) 60%, rgba(0,75,255,1) 80%, rgba(120,0,137,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e60000",endColorstr="#780089",GradientType=1);

    z-index: 2;
}

div#body {
    padding: 5rem;
    text-align: center;
}